node_modules
npm-debug.log

logs
*.log

.next
out
dist

.git
.gitignore

.vscode/
.idea/
.DS_Store

.env.local
.env.development.local
.env.test.local
.env.production.local

__tests__
coverage
*.spec.js
*.test.js

.dockerignore
Dockerfile

.cache
