localhost:8081 127.0.0.1:8081 [::1]:8081 {
	log

	reverse_proxy /api/* {$BACK_HOST:localhost}:8080
	reverse_proxy /* {$FRONT_HOST:localhost}:3000

	header /api/* {
		Cache-Control max-age=600
	}

	encode {
		zstd
		gzip
	}
}
