	reverse_proxy /api/* haveibeenrocked-api:8080
	reverse_proxy /* haveibeenrocked-front:3000
localhost:8081 127.0.0.1:8081 [::1]:8081 {

    header /api/* {
        Cache-Control max-age=600
    }

    encode {
      zstd
      gzip
    }
}
