{
	auto_https off
}

http://localhost:8081 http://127.0.0.1:8081 http://[::1]:8081 http://{$PUBLIC_HOST}:8081

log

reverse_proxy /api/* {$BACK_HOST:localhost:8080}
reverse_proxy /* {$FRONT_HOST:localhost:3000}

header /api/* {
	Cache-Control max-age=600
}

encode {
	zstd
	gzip
}
